.btn-red {
  background-color: rgb(155, 19, 19);
  color: gold;
  font-weight: 700;
}

.btn-red:hover {
  background-color: rgb(108, 29, 29);
  color: gold;
}
.movie_info {
  display: none;
}
.movie_item:hover .movie_info {
  display: block;
}

.screenImg {
  --c: 20px; /* control the size */
  width: 100%;
  margin-top: 0;
  display: inline-block;
  box-sizing: border-box;
  border: solid var(--c) transparent;
  border-radius: 15%;
  border-top-color: #7bffff;
  background: radial-gradient(farthest-side, #7bffff 98%, transparent) left 4%
      top 4%,
    radial-gradient(farthest-side, #7bffff 98%, transparent) right 4% top 4.1%;
  background-size: var(--c) var(--c);
  background-origin: border-box;
  background-repeat: no-repeat;
}
.screenImg::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.screenLight {
  box-shadow: -25px 40px 80px 10px #9bffff;
  width: 80%;
  margin: 0 11%;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0;
}

:where(.css-dev-only-do-not-override-abcijp).ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane,
:where(.css-dev-only-do-not-override-abcijp).ant-tabs-left
  > div
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  padding-left: 0;
}
:where(.css-dev-only-do-not-override-xu9wm8).ant-btn-default:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  color: gold;
  border-color: gold;
  background-color: rgb(108, 29, 29);
}

:where(.css-dev-only-do-not-override-1omu73a).ant-tabs-left
  > .ant-tabs-nav
  .ant-tabs-tab,
:where(.css-dev-only-do-not-override-1omu73a).ant-tabs-right
  > .ant-tabs-nav
  .ant-tabs-tab,
:where(.css-dev-only-do-not-override-1omu73a).ant-tabs-left
  > div
  > .ant-tabs-nav
  .ant-tabs-tab,
:where(.css-dev-only-do-not-override-1omu73a).ant-tabs-right
  > div
  > .ant-tabs-nav
  .ant-tabs-tab {
  padding: 5px;
}

:where(.css-dev-only-do-not-override-1omu73a).ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane,
:where(.css-dev-only-do-not-override-1omu73a).ant-tabs-left
  > div
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  padding: 0;
}
section {
  margin-left: 80px;
  margin-right: 80px;
  color: #2bdd49;
}
